html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color: #5a6268;
}

/* container */

.profile,
.profile-edit,
.catalog,
.movie {
  padding: 20px 0;
}

/* label */

.font-profile-head {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #5a6268;
}

/* spinner / message  */

.page-state {
  text-align: center;
  padding-top: 100px;
  background: none;
}

/* check */

.alert-info {
  margin: 0 auto;
}

/* style disabled / opacity */

.disabled-button {
  pointer-events: none;
  opacity: 50%;
}

.opacity-button {
  opacity: 50%;
}

/* tab */

.profile .nav-tabs .nav-link,
.movie .nav-tabs .nav-link {
  cursor: pointer;
}

.profile .page-tabs .nav-tabs,
.movie .page-tabs .nav-tabs {
  margin-bottom: 1rem;
}

.profile .nav-item a,
.movie .nav-item a {
  color: rgba(0, 0, 0, 0.5);
}

/* media bootstrap */

.media-object {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}

/* header */

header {
  background: #f8f9fa;
}

header .navbar {
  padding-left: 0;
  padding-right: 0;
}

header .navbar .navbar-brand {
  font-weight: 700;
  color: #6c757d;
}

header .btn {
  padding: 8px;
}

header .notification {
  /* display: none; */
  position: absolute;
  top: 10px;
  right: 5px;
  background: #ec0b0b;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

header .notification-item a {
  text-decoration: none;
  color: #6c757d;
}

header .notification-item:active {
  background: none;
}

.navbar .btn-fst {
  margin-left: 15px;
}

.navbar .btn-lng {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background: none;
}

.navbar .btn-lng:hover {
  color: #fff;
  background: #5a6268;
}

.navbar .active-lng {
  background: #6c757d;
  color: #fff;
}

/* footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.font-message {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  opacity: 0.5;
}

.footer .row {
  padding: 15px 0;
  color: #6c757d;
}

.footer a {
  color: #6c757d;
  font-weight: 700;
}

.footer a:hover {
  color: #343a40;
  text-decoration: none;
}

/* login */

.login {
  padding: 10vh 0;
  text-align: center;
}

.login .form-group {
  margin-bottom: 0;
}

.login .font-profile-head,
.login .login-btn {
  width: 100%;
}

.login .font-profile-head {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.login .font-profile-head input {
  margin-top: 10px;
}

.login .login-btn,
.login-btn__aside {
  margin-top: 20px;
  font-weight: 700;
}

.login-btn__aside {
  width: 60px;
}

.login-btn__link a {
  color: #6c757d;
}

.login-btn__link a:hover {
  color: #343a40;
}

.login .login-btn__aside:nth-child(1) {
  margin-right: 15px;
}

.login .card {
  border: none;
}

.login .card-body {
  background: #f8f9fa;
}

.login .dropdown-divider {
  margin: 1.5rem 0 0.5rem;
}

.login .invalid-feedback {
  margin-top: 0.25rem;
  font-weight: normal;
  font-size: 0.8rem;
}

/* profile */

.profile .tab-content {
  height: 400px;
  overflow-x: hidden;
}

.profile .profile-header {
  margin-bottom: 30px;
}

.profile-avatar {
  object-fit: cover;
  width: 200px;
  height: 200px;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  max-width: 100%;
}

.profile h2 {
  margin-bottom: 1.5rem;
}

.profile .font-profile-head:nth-child(2) {
  margin-top: 0;
}

.profile .profile-input {
  display: none;
}

.profile .btn-success {
  margin: 15px 0 0;
}

.profile .aside-button {
  margin-bottom: 20px;
  margin-right: 0;
  justify-content: flex-end;
  position: relative;
}

.profile .aside-button button {
  margin-left: 10px;
}

/* .profile .tab-content {
  height: 400px;
  overflow-x: hidden;
} */

/* catalog */

.catalog .col-md-4:hover {
  opacity: 0.9;
}

.catalog a {
  color: #6c757d;
}

.catalog a:hover {
  color: #6c757d;
  text-decoration: none;
}

.card-title {
  font-size: 1.3rem;
}

/* .card-img-top {
  max-height: 350px;
  object-fit: cover;
} */

.catalog .product-list p {
  margin: 0;
  text-transform: capitalize;
}

.catalog .list-group-item {
  padding: 0.5rem;
}

.catalog .catalog-filter {
  padding: 0;
}

.modal-content .modal-body {
  padding-top: 0;
}

.modal-body .font-profile-head {
  margin-bottom: 1.5rem;
}

.modal-content .modal-header {
  justify-content: center;
}

.modal-content .modal-footer {
  margin-top: 15px;
}

.catalog .modal-content .disabled-button {
  pointer-events: none;
  opacity: 50%;
}

.catalog input[name="search"] {
  margin-bottom: 1rem;
}

/* pagination */

.catalog-pagination {
  margin: 0 auto;
  width: 173px;
}

.catalog-pagination .pagination {
  margin-bottom: 0;
}

.catalog .catalog-pagination ul {
  justify-content: center;
}

.catalog-pagination .page-link {
  color: #6c757d;
}

.catalog-pagination .page-link:hover {
  color: #343a40;
}

/* movie */
.movie video {
  object-fit: cover;
}

.movie .page-tabs {
  margin-top: 2rem;
}

.movie .font-movie-head {
  display: flex;
  justify-content: space-between;
}

.movie .font-movie-head {
  display: flex;
  justify-content: space-between;
}

.movie .font-movie-head p {
  font-size: 1.2rem;
  font-weight: 700;
  opacity: 0.5;
  text-align: center;
  margin-top: 0.5rem;
}

.movie .list-group-horizontal > .list-group-item:first-child,
.movie .list-group-horizontal > .list-group-item:last-child {
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}

.movie .product-list,
.movie .movie-description,
.movie .country-list {
  padding: 0.25rem 0.5rem;
  margin-right: 0.35rem;
  background: #f8f9fa;
  border: none;
  border-radius: 5px;
}

.movie .product-list a {
  text-decoration: none;
  color: #343a40;
  text-transform: capitalize;
}

.movie .product-list:hover {
  background: #dee2e6;
}

.movie .movie-title {
  margin: 0.5rem 0 0.2rem;
}

.movie .aside-button > * {
  margin: 0.5rem 0 0 1.2rem;
}

.aside-button-share {
  display: flex;
  flex-direction: column;
}

.aside-button-share a {
  color: #6c757d;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 25px;
  margin-left: 25px;
}

.aside-button-share a:hover {
  text-decoration: none;
  opacity: 0.5;
}

.aside-button-share img {
  width: 60px;
  margin-right: 10px;
}

.movie-comment .movie-title {
  margin-bottom: 0.75rem;
}

.movie-comment input[name="comment"] {
  /* width: 90%; */
  margin-right: 15px;
  border-radius: 5px;
}

.input-group > .custom-select:not(:last-child),
.input-group > .form-control:not(:last-child) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.movie-comments-list {
  height: 400px;
  overflow-x: hidden;
  margin-top: 1rem;
  padding-left: 0;
}

.movie .media-heading a {
  color: #343a40;
}

.movie .media-heading a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.movie .media-heading {
  font-size: 1.2rem;
}

.movie .movie-tabs-item {
  opacity: 0.5;
  font-size: 1rem;
}

.movie .media {
  background: #f8f9fa;
  padding: 0.5rem 0px 0.5rem 0.5rem;
  border-radius: 5px;
}

.movie .media-heading {
  display: flex;
  justify-content: space-between;
}

.movie-comment-footer {
  display: flex;
}

.movie-comment-footer input {
  width: 40px;
  padding: 0.5rem;
}

.movie-comment-footer span {
  padding: 0.5rem;
}

.movie .aside-button {
  display: flex;
  justify-content: flex-end;
}

.movie #btn-quality,
.aside-button-trailer {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  font-weight: 700;
  text-align: end;
}

.aside-button-trailer img {
  margin-right: 10px;
}

.movie #btn-quality img {
  margin-right: 7px;
}

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.movie #btn-quality:hover,
.movie #btn-quality:active {
  background: none;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #6c757d;
}

.btnPlay {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
}

.btnPlay img {
  width: 13vw;
}

.txtPlay {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
  color: #6c757d;
  padding-top: 5px;
  width: max-content;
  font-size: 2vw;
}

.txtPlay:nth-child(2) {
  padding-top: 4vw;
}

/* media */
@media (min-width: 576px) {
  .modalTrailer {
    /* max-width: none; */
    max-width: 800px;
  }
}

@media (max-width: 576px) {
  /* movie */
  .movie .aside-button > * {
    margin: 0.5rem 0 0 0;
    flex-direction: column;
    align-items: flex-end;
  }
  .movie .media-left {
    display: none;
  }
  .txtPlay {
    font-size: 4vw;
  }
  .txtPlay:nth-child(2) {
    padding-top: 7vw;
  }
}

.view-list-wrapper {
  width: 100%;
  /* padding: 8px; */
}

.view-list-block {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 5px 0;
  display: flex;
  transition: all 0.3s ease;
}

.view-list-block:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}

a:hover {
  text-decoration: none;
}

.view-element-poster {
  width: 100%;
}

.view-list-block .col-xs-2 {
  padding-left: 10px;
}
.view-element-avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.view-element-title {
  font-size: 18px;
  margin-left: 8px;
  color: #000000;
}

.view-element-info {
  width: 100%;
}

.view-element-genres-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.view-element-genre {
  color: #6c757d;
  margin-left: 4px;
  width: fit-content;
  padding: 0 2px;
  text-transform: lowercase;
}

.view-element-date {
  font-size: 16px;
  color: #6c757d;
  display: block;
}

.view-element-text {
  font-size: 18px;
  color: #000000;
  display: block;
  padding-top: 10px;
}

.view-comment-wrapper {
  width: 100%;
  padding: 5px 12px;
}
